@import url(receitas.css);

header {
	text-align: center;
	margin-bottom: 5%;
}

footer {
	bottom: 0;
}

#descricao {
	text-align: justify;
}

#start {
	margin: auto;
	margin-top: 15%;
	text-align: center;
}

.form-floating {
	width: 40%;
}

#button-adm {
	text-align: end;
	margin-bottom: 5%;
}