<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Receita</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- icon -->
    <link rel="icon" type="image/png" href="https://i.imgur.com/opKsVKn.png" />

    <!-- css -->
    <link rel="stylesheet" href="/style/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />

    <style>
        #form {
            margin: auto;
            width: 30em;
        }
    </style>

</head>

<body>
    <main>
        <div class="container-fluid">
            <div id="header"></div>
        </div>

        <div class="container">
            <div id="form">
                <form action="/login" method="post">
                    <div class="mb-3">
                        <input type="email" name="inputEmail" id="inputEmail" class="form-control" required/>
                        <label class="form-label" for="inputEmail">Email address</label>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control" required/>
                        <label class="form-label" for="inputPassword">Password</label>
                    </div>

                    <div class="mb-3">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="inputRememberMe" checked />
                                <label class="form-check-label" for="inputRememberMe"> Remember me </label>
                            </div>
                        </div>

                        <div class="col">
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <div class="text-center">
                        <p>Not a member? <a href="/register/register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid">
            <div id="footer"></div>
        </div>
    </main>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
<script src="/util/shared.js"></script>

</html>